
 

/*  hero section */
.container-hero {
    height: 600px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .container-hero img {
    width: 100%;
    margin-right: -280px;
    
  }
  
  .hero-text {
    width: 80%;
  }
  
  .hero-text h1 {
    font-size: 3.3rem;
    margin-bottom: 12px;
    color: #D71462;
  }
  
  .hero-text p {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
  
  button {
    padding: 1em 2.1em 1.1em;
    border-radius: 30px;
    margin: 8px;
    border: none;
    background-color: #D71462;
    color: #ffffff;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #f70389 inset;
    transition: color 3s ease-in-out;
  }
    
  /* Footer */
 .footerbg{
  background-color: #151515 !important;
  color: #ffffff;
 }
  
  /* Media queries */
  
  @media (max-width: 884px) {
    .container-hero {
      margin-top: 10px;
      flex-direction: column;
    }
    .hero-text {
      width: 100%;
      text-align: center;
    }
    .hero-text h1 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 678px) {
    .hero-text h1 {
      font-size: 2rem;
    }
  }
  .btn-footer{
    border-radius: 30px;
  }